body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #516C5B;  
}

main{
    display: flex;
    flex-direction: row;
}

header {
    margin: 0;
    background-color: #FFCC00;
    text-align: center;
    padding: 20px 50px;
    
}

h1{
    color:#F5F5F5;  
}

aside img{
    max-width: 50%;
    height: auto;
}

.sisi-keliling {
    align-content: center;
    align-items: center;
    width: 100px;
}

article img{
    max-width: 50%;
    height: auto;
}

.input {
    border-radius: 4px;
}

.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #516C5B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    width: 100px;
    transition: all 0.5s;
    cursor:pointer;
    margin: 5px;
}

.button1:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: solid 2px;
    border-color: #FFCC00;
    text-align: center;
    padding: 2px;
    width: 100px;
    transition: all 0.5s;
    cursor:pointer;
    margin: 5px;
}

.button2:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
aside {
    float: left;
    background-color: #F5F5F5;
    padding: 20px;
    margin: 40px 1%;
    width: 45%;
    height: 650px;
    border-radius: 10px;
    overflow-y: scroll;
    border-style: solid;
    border-color: #FFCC00;
    
}

article {
    float: left;
    background-color: #F5F5F5;
    padding: 20px;
    margin: 40px 1%;
    width: 45%;
    height: 650px;
    border-radius: 10px;
    overflow-y: scroll;
    border-style: solid;
    border-color: #FFCC00;
}

footer {
    clear: both;
    background-color: #FFCC00;
    padding: 20px;
    color: #00004D;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
footer img {
    max-width: 3%;
    height: auto;
    vertical-align:middle;
    margin-bottom: 1%;
    margin-top: 1%;
}



.hitung-luas{
    font-weight: bold;
    text-align: center;
    
}
.hitung-keliling {
    font-weight: bold;
    text-align: center;
}
